.navbar {
  /* border: 2px solid red; */
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  background: rgb(13, 13, 13);
  background: linear-gradient(
    90deg,
    rgba(13, 13, 13, 1) 33%,
    rgba(0, 30, 37, 1) 75%
  );
  justify-content: space-between;
  min-height: 5em;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(52, 52, 52, 1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(52, 52, 52, 1);
  box-shadow: 0px 3px 7px 0px rgba(52, 52, 52, 1);
}
.socials {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  gap: 1em;
  color: #ddd;
  font-size: 2.5em;
}
.nav-buttons {
  display: flex;
  display: contents;
  transition: 0.3s ease-in-out all;
}
.lang-buttons {
  display: flex;
}
.lang-buttons button {
  background-color: rgba(203, 220, 203, 0);
}
.country-flag svg {
  width: 1.6em;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  gap: 1em;
}

.nav-links a {
  color: #ddd;
}

.collapse {
  display: none;
}

.nav-toggler {
  position: absolute;
  right: 0;
  font-size: 2em;
  display: none;
}
.nav-toggler button {
  background-color: rgba(203, 220, 203, 0);
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .socials {
    margin-right: 0.7em;
    margin-top: 0.15em;
  }
  .nav-buttons {
    flex-direction: column;
    height: 5rem;
    border: 2px solid red;
    /* margin-left: 2em; */
  }
  .nav-links {
    flex-direction: column;
    margin-left: 1.5em;
    font-size: 1.3em;
  }
  .lang-buttons {
    margin: 0 auto;
    /* margin-left: 0.2em; */
  }
  .nav-toggler {
    display: block;
  }
}
